<div class="side-nav bg-light py-8  d-flex flex-column justify-content-between vh-100">

      <ul class="nav flex-column ">
        <li class="mb-7 nav-item" ><a class="nav-link" href="#"><img src="../assets/images/logo-ANSWER.svg" alt=""></a></li>
        <li class="fw-bolder fs-6 mb-6 nav-item"><a class="nav-link" href="#"><span class="align-middle material-icons me-3">assessment</span>Dashboard</a></li>
        <li class="fw-bolder fs-6 mb-6 nav-item"><a class="nav-link" href="#"><span class="align-middle material-icons me-3">question_answer</span>Question</a></li>
        <li class="fw-bolder fs-6 mb-6 nav-item"><a class="nav-link  <%= page === 'index' ? 'active' : '' %>" href="./index.html"><span class="align-middle material-icons me-3 ">assignment</span>Assignment</a></li>
        <li class="fw-bolder fs-6 mb-6 nav-item"><a class="nav-link" href="#"><span class="align-middle material-icons me-3">video_library</span>Course</a></li>
        <li class="fw-bolder fs-6 mb-6 nav-item"><a class="nav-link <%= page === 'Admin' ? 'active' : '' %>" href="./Admin.html"><span class="align-middle material-icons me-3">people</span>Admin</a></li>
        <li class="fw-bolder fs-6 mb-6 nav-item"><a class="nav-link" href="#"><span class="align-middle material-icons me-3">settings</span>Settings</a></li>
        </ul>

      <div class="user align-self-start d-flex align-items-center ps-8 ">
        <img class="rounded-circle" src="../assets/images/photo-1514794749374-fb67509dbb7f.avif" alt="">
        <ul class="my-0 ps-3">
          <li class="fs-6 lh-base">Andy Chen</li>
          <li class="fs-7 lh-base text-secondary">andy0401@mail.com</li>
        </ul>
      </div>
  </div>