

@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@400;500;700;900&display=swap');
@import './layout/base';



@import './layout/sidebar.scss';



@import './pages/Admin.scss';
@import "../../node_modules/bootstrap";