.side-nav{
  width:296px;
  height:100%;
  .nav-link{
    border-left:4px solid transparent;
  
    &:hover{
      border-color:$success;
      
    }
    
  }
  .active{
    color:$success;
    border-color:$success ;
  }
}

.user{
  img{
    width:40px;
    height: 40px;
  }
}
