<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/google-icon'); -%>
    <title>index</title>
  </head>
  <body>
    <div class="container-fluid px-0 d-flex vh-100">
      <%- include('./layout/sidebar',{page: "index"}); -%>
      <div class="container-fluid mx-0 px-8" >
        <div class="container-fluid mx-0 px-0 d-flex align-items-center mb-11" style="height: 92px;">
          <h2 class="me-9 my-0 fs-4">Assignment</h2>
          <div class="dropdown ">
            <button class="fs-6 btn btn-secondary dropdown-toggle btn-white fw-bold" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              All Courses
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <span class="material-icons ms-auto"><a href="#">search</a></span>
          <span class="material-icons ms-10"><a href="#">notifications_active</a></span>
      </div>
      <div class="container-fluid mx-0 px-0 d-flex justify-content-between" >
        <select class="border-0 fw-bold">
          <option value="">All (4)</option>
          <option value="">1</option>
          <option value="">2</option>
        </select>
        <p class="fs-7 text-dark my-0">2 comments</p>
      </div>
      
      <div class="container-fluid d-flex px-0 ">
          <div class="list-group me-3 w-35" >
            <a href="#home" class="p-11 list-group-item list-group-item-action active" data-bs-toggle="list" role="tab">
              <div class="d-flex w-100 justify-content-between mb-1">
                <h5 class="mb-1 fs-7">Chapter Assignment 2</h5>
                <small class="fs-7">4 hrs ago</small>
              </div>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 fs-6">Please check this file…</h5>
                <small class="fs-7 text-dark">Emily Wang</small>
              </div>
            </a>
            <a href="#profile" class="p-11 list-group-item list-group-item-action" data-bs-toggle="list" role="tab">
              <div class="d-flex w-100 justify-content-between mb-1">
                <h5 class="mb-1 fs-7">Chapter Assignment 1</h5>
                <small class="fs-7">12 hrs ago</small>
              </div>
              <div class="d-flex w-100 justify-content-between" >
                <h5 class="mb-1 fs-6">My Homework</h5>
                <small class="fs-7 text-dark">David Xu</small>
              </div>
            </a>
            <a href="#messages" class="p-11 list-group-item list-group-item-action" data-bs-toggle="list" role="tab">
              <div class="d-flex w-100 justify-content-between mb-1">
                <h5 class="mb-1 fs-7">Final Assignment</h5>
                <small class="fs-7">18 hrs ago</small>
              </div>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 fs-6">Have a problem with this…</h5>
                <small class="fs-7 text-dark">Tony Wei</small>
              </div>
            </a>
            <a href="#settings" class="p-11 list-group-item list-group-item-action" data-bs-toggle="list" role="tab">
              <div class="d-flex w-100 justify-content-between mb-1">
                <h5 class="mb-1 fs-7">Final Assignment</h5>
                <small class="fs-7">19 hrs ago</small>
              </div>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 fs-6">Did I do it right?</h5>
                <small class="fs-7 text-dark">Christina Lin</small>
              </div>
            </a>

          </div>
          <div class="tab-content w-64">
            <div class="tab-pane active position-relative fade show" id="home" role="tabpanel">
              <ul class="list-group mb-3">
                <li class="bg-light list-group-item d-flex justify-content-between align-items-center">
                  <div>
                    <p class="mb-1 fs-7">Chapter Assignment 2 / HTML&CSS</p>
                    <p class="mb-0 fw-bold text-gray-900">Please check this file for me, thanks!</p>
                  </div>
                  <a href="#"><span class="material-icons">more_vert</span></a>
                </li>
                <li class="list-group-item d-flex border-bottom-0">
                  <div class="me-2">
                  <img style="width: 40px; height: 40px;" class="rounded-circle " src="../assets/images/photo-1504051771394-dd2e66b2e08f.avif" alt="">
                  </div>
                    <ul class="px-0 list-group list-group-flush">
                      <li class="list-group-item p-0">
                      <p class="fw-bold fs-6 mb-1">Emily Wang</p>
                      <p class="fs-8 text-dark">10:38 AM (4 hours ago)</p>
                      <p class="my-3 fs-7">Hi Teacher, the attached file is my homework of chapter 2. And here comes a question: Why in the following code the height of the <spn class="text-success">div</spn> is bigger than the height of the img ? There is a gap below the <span class="text-success">image</span>, but it doesn’t seems to be a padding/margin.</br> What is the gap or extra space below image?</p>
                      <a class="rounded p-11 d-flex justify-content-center bg-light align-items-center fs-6 lh-base border fw-bold mb-3" href="#" style="width:176px;"><span class="material-icons">attach_file</span>HW-2-David.zip</a>
                      </li>
                      <li></li>
                    </ul>
                    
                </li>
                <li class="list-group-item d-flex">
                  <div class="me-2">
                    <img style="width: 40px; height: 40px;" class="rounded-circle " src="../assets/images/photo-1514794749374-fb67509dbb7f.avif" alt="">
                  </div>
                  <ul class="px-0 list-group list-group-flush">
                    <li class="list-group-item p-0">
                    <p class="fw-bold fs-6 mb-1">Andy Chen (You)</p>
                    <p class="fs-8 text-dark">13:24 AM (1 hours ago)</p>
                    <p class="my-3 fs-7">Hi David, by default, an image is rendered inline, like a letter so it sits on the same line that a, b, c and d sit on. There is space below that line for the descenders you find on letters like g, j, p and q.</br></br> You can: </br></br>　• adjust the <span class="text-success">vertical-align</span> of the image to position it elsewhere (e.g. the <span class="text-success">middle</span> ) or </br>　• change the <span class="text-success">display</span> so it isn’t inline.</p>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="w-100 d-flex flex-column-reverse position-absolute bottom-0 ">
                <div class="collapse" id="collapseWidthExample">
                  <div class="card card-body w-100 p-0" style="height:319px;">
                    <div class="px-4 py-3 bg-light border border-gray-median d-flex align-items-center" style="height:56px;">
                      <span class="fw-bold me-9"><a href="#">Body Text</a></span>
                      <span class="material-icons me-6"><a href="#">format_bold</a></span>
                      <span class="material-icons me-6"><a href="#">format_italic</a></span>
                      <span class="material-icons me-6"><a href="#">format_list_bulleted</a></span>
                      <span class="material-icons me-6"><a href="#">format_list_numbered</a></span>
                      <span class="material-icons me-6"><a href="#">image</a></span>
                      <span class="material-icons me-6"><a href="#">link</a></span>
                      <span class="material-icons me-6"><a href="#">code</a></span>
                    </div>
                    <textarea class="border-bottom-0 px-4 py-3 border border-gray-median h-100" name="" id="" cols="30" rows="10" placeholder="Reply an answer…" style="resize:none; outline:none;"></textarea>
                    <div class="px-4 py-3 d-flex justify-content-end">
                      <button type="button" class="btn btn-outline-success me-2 px-8"  data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">Cancel</button>
                      <button type="button" class="btn btn-success px-8" type="button">Reply</button>
                    </div>
                  </div>
                </div>
              </div>
                <div class="d-flex justify-content-between">
                <div>
                  <span class="material-icons mt-2 me-4"><a href="#">chevron_left</a></span>
                  <span class="material-icons mt-2"><a href="#">navigate_next</a></span>
                </div>
                <div>
                  <button type="button" class="btn btn-outline-success me-3 px8-8">Mark as read</button>
                  <button type="button" class="btn btn-success px-8" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">Reply</button>
                </div>
              </div>
            </div>
            <div class="tab-pane fade " id="profile" role="tabpanel">2</div>
            <div class="tab-pane fade " id="messages" role="tabpanel">3</div>
            <div class="tab-pane fade " id="settings" role="tabpanel">4</div>
            
          </div>
      </div>
    </div>
    
    

  


    <script type="module" src="../main.js"></script>
  </body>
</html>
